if list
	each item in list
		.modal.fade(id=item.id)
			.modal-dialog
				.modal-content
					.modal-header
						button.modal-close(type="button" class="close" data-dismiss="modal") &times
					.modal-body
						.modal-image-wrapper
							img.modal-portrait(src=item.image alt=item.alt)
						.modal-text-wrapper
							span.modal-title!= item.name
							span.modal-position!= item.positionWithUrl
							span.modal-language Мова: #{item.language}
							div.modal-description!= item.description
					.modal-footer
