.container
	+e("h2").title.main-title!= data.title
	+e("ul").features
		+e("li").features-item
			+e.features-value!= data.featuresValue
			+e.features-label!= data.featuresLabel
		+e("li").features-item
			if site.date
				+e.features-value #{site.date.dateStart}-#{site.date.dateEnd}
				+e.features-label #{site.date.month}, #{site.date.year} <br>#{site.location}
	+e.text!= data.text
	+e.footer
		+e("a").more.btn.btn_default(href=data.btnMoreUrl)!= data.btnMore
