.container
	+e("h2").title.main-title!= data.title
	+e("ul").features
		+e("li").features-item
			+e.features-value!= data.featuresValue
			+e.features-label!= data.featuresLabel
		+e("li").features-item
			if date
				+e.features-value #{date.dateStart}-#{date.dateEnd}
				+e.features-label #{date.month}, #{date.year} <br>#{location}
	if shortBlock
		+e.text.text-center!= data.shortText
		+e.footer
			+e("a").more.btn.btn_default(href=data.btnMoreUrl)!= data.btnMore
	else
		+e.text!= data.text
