.container
	+e.main
		+e.info
			+e("a").link(href=site.baseUrl)
				+e("img").logo-image(src=asset("i/uisg12-logo-footer.svg"), alt="" height="25" width="197")
				+e.logo-copyright &copy; UISGCON, Cyber Security Conference

		+e.location
			+e("address").location-address!= site.location
			+e("span").location-dates
				if site.date
					if site.date.dateStart
						time.footer__location-date(datetime!=site.date.dateStartShort)!= site.date.dateStart
					if site.date.dateEnd
						| -
						time.footer__location-date(datetime!=site.date.dateEndShort)!= site.date.dateEnd
					if site.date.month
						| #{site.date.month}
					if site.date.year
						| , #{site.date.year}
		//- +b.socials: +i

	+e.dev
		+e("address").dev-label Розроблено в
		+e("a").dev-link(href="https://se7ensky.com/" rel="author" target="_blank")
			+e("img").dev-image(src=asset("i/se7ensky-logo.svg"), alt="Se7ensky" height="53" width="111")
