.container
	+e.main
		+e.info
			+e("a").link(href=site.baseUrl)
				+e("img").logo-image(src=asset("i/uisg12-logo-footer.svg"), alt="" height="25" width="197")
				+e.logo-copyright &copy; UISGCON, Cyber Security Conference

		+e.location
			+e("address").location-address!= location
			+e("span").location-dates
				if date
					if date.dateStart
						time.footer__location-date(datetime!=date.dateStartShort)!= date.dateStart
					if date.dateEnd
						| -
						time.footer__location-date(datetime!=date.dateEndShort)!= date.dateEnd
					if date.month
						| #{date.month}
					if date.year
						| , #{date.year}
		//- +b.socials: +i

	if dev
		+e.dev
			+e("address").dev-label Розроблено в
			+e("a").dev-link(href="https://se7ensky.com/" rel="author" target="_blank")
				+e("img").dev-image(src=asset("i/se7ensky-logo.svg"), alt="Se7ensky" height="53" width="111")
