.container
	if data.title
		+e("h2").title.main-title!= data.title
		+e.text!= data.text
	if list
		+e("ul").nav.nav-tabs
			each item, i in list
				if i === 0
					- var classes = "active"
				else
					- var classes = ""
				+e("li").nav-item(class=classes)
					+e("a").nav-link(href="##{item.id}" data-toggle="tab")
						+e("span").nav-title!= item.title
						br
						+e("span").nav-date!= item.date
		+e.tab-content
			each item, i in list
				if item.places
					if i === 0
						- var classes2 = "active"
					else
						- var classes2 = ""
					+e.tab-pane(id=item.id, class="#{classes2} cols-#{item.places.length}")
						each item2, j in item.places
							if j === 0 && i === 0
								- var classes3 = "active"
								- var styles = "display: block;"
							else
								- var classes3 = ""
								- var styles = ""
							+e.column(class=classes3)
								+e.column-title!= item2.title
									+e.icon
								if item2.list
									+e("ul").list(style=styles)
										each item3, k in item2.list
											+e("li").list-item
												+e.list-date!= item3.time
												if item3.event || item3.speaker
													+e.list-text
														if item3.description
															+e("a").list-link(href="#program-event-#{item.id}-#{j + 1}-#{k + 1}" data-toggle="modal")
																if item3.event
																	!= item3.event
																if item3.speaker
																	| &#32;
																	+e("span").list-speaker!= item3.speaker
														else
															if item3.event
																!= item3.event
															if item3.speaker
																| &#32;
																+e("span").list-speaker!= item3.speaker
