.container
	+e("h2").title!= title
	+e.content
		if location
			p!= location
		if date
			p
				if language !== "en"
					if date.dateStart
						time(datetime=date.dateStartShort)=date.dateStart
					if date.dateEnd
						| -
						time(datetime=date.dateEndShort)= date.dateEnd
					if date.month
						|  #{date.month}
					if date.year
						| , #{date.year}
				else
					if date.month
						|  #{date.month}
					if date.dateStart
						time(datetime=date.dateStartShort)=date.dateStart
					if date.dateEnd
						| -
						time(datetime=date.dateEndShort)= date.dateEnd
					if date.year
						| , #{date.year}
	+e.footer
		+e("a").button.btn.btn-white(href=buttonUrl)= buttonLabel
