.container
	+e("h2").title!= title
	+e.content
		if site.location
			p!= site.location
		if site.date
			p
				if site.date.dateStart
					time(datetime=site.date.dateStartShort)=site.date.dateStart
				if site.date.dateEnd
					| -
					time(datetime=site.date.dateEndShort)= site.date.dateEnd
				if site.date.month
					|  #{site.date.month}
				if site.date.year
					| , #{site.date.year}
	+e.footer
		+e("a").button.btn.btn-white(href=buttonUrl)= buttonLabel