unless hideInfo
	+e.info
		+e("h2").title!= items.title
		+e.info-content
			p
				+e("span").adress!= location
			p
				+e("a").link(href=items.mailLink)!= items.mailLinkText
			if items.times
				p
					+e("span").times
						time.map__time!= items.times[0]
						| &#32;-
						time.map__time!= items.times[1]
if items.data
	+e.interactive#map-interactive(data-title=items.data.title, data-latitude=items.data.latitude, data-longitude=items.data.longitude, data-zoom=items.data.zoom, data-icon=items.data.icon)
