.container
	+e.content
		+e("h2").title!= title
		+e.info
			if location
				+e("address").info-address!= location
			+e("span").info-dates
				if date
					if date.dateStart
						time.intro__info-date(datetime=date.dateStartShort)=date.dateStart
					if date.dateEnd
						| -
						time.intro__info-date(datetime=date.dateEndShort)= date.dateEnd
					if date.month
						|  #{date.month}
					if date.year
						| , #{date.year}
	+e("a").arrow(href=arrowUrl)
