doctype html
html.preloading
	head
		meta(charset="UTF-8")
		meta(content="width=device-width, minimum-scale=1, maximum-scale=1", name="viewport")
		meta(name="author", content="SE7ENSKY frontend studio <hello@se7ensky.com>")
		title
			block title
				if file.title
					| #{file.title} – #{site.title}
				else
					| #{site.title}
		style#style-preloading!= queryFile({ fullname: "assets/styles/preloading" }).processed
		script!= queryFile({ fullname: "assets/scripts/head-loader" }).processed
		
		block head

		| <!--[if lt IE 9]>
		script(src=asset("ie-js/html5.js"))
		script(src=asset("ie-js/respond.min.js"))
		script(src=asset("http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"))
		| <!--<![endif]-->
	body(class=file.bodyClasses)
		block root
			!= content
		
		block analytics
		
		+b.preloader: +e.spinner
