block params
	- customPage = false

doctype html
html
	head
		meta(charset="UTF-8")
		meta(content="width=device-width, minimum-scale=1, maximum-scale=1", name="viewport")
		meta(name="theme-color" content="#007ae3")
		link(rel="shortcut icon" href=asset("i/favicon.png?v=2"))
		if file.redirectUrl
			meta(http-equiv="refresh" content="0; url=#{file.redirectUrl}")
		title
			block title
				if file.title
					| #{file.title} – #{site.title}
				else
					| #{site.title}

		if site.og
			//- Schema.org markup for Google+
			meta(itemprop="name", content="#{site.og.title}")
			meta(itemprop="description", content="#{site.description}")
			meta(itemprop="image", content=assetLong(site.og.image))

			//- Twitter Card data
			meta(name="twitter:card", content="product")
			meta(name="twitter:site", content="#{site.og.twitter}")
			meta(name="twitter:title", content="#{site.og.title}")
			meta(name="twitter:description", content="#{site.description}")
			meta(name="twitter:creator", content="#{site.og.twitter}")
			meta(name="twitter:image", content=assetLong(site.og.image))

			//- Open Graph data
			meta(property="og:title", content="#{site.og.title}")
			meta(property="og:type", content="article")
			meta(property="og:url", content="#{site.baseUrl}")
			meta(property="og:image", content=assetLong(site.og.image))
			meta(property="og:description", content="#{site.description}")
			meta(property="og:site_name", content="#{site.title}")

	body
		block root
			!= content

		block fonts
		block styles
		block scripts
		block analytics
